head
  title index
  meta(charset='utf-8')
  meta(name='robots' content='index, follow')
  meta(name='Googlebot' content='index, follow')
  meta(name='Robots' content='all')
  meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
  meta(name='format-detection' content='telephone=no')
  meta(name='keywords' content='Grey')
Link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap')
link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0' crossorigin='anonymous')
link(rel='stylesheet' href='/dist/style.css')
link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css")
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js' integrity='sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8' crossorigin='anonymous')
  
nav.navbar.navbar-expand-md.navbar-light.fixed-top
  .container-fluid
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarTogglerDemo01' aria-controls='navbarTogglerDemo01' aria-expanded='false' aria-label='Toggle navigation')
      a.bi.bi-arrow-down-short
    #navbarTogglerDemo01.collapse.navbar-collapse.justify-content-between
      a.navbar-brand.nav-link(href="#header") Grey Luo     
      ul.navbar-nav.md-auto.px-3
        li.nav-item
          a.nav-link(href="#section_work") 學經歷
        li.nav-item
          a.nav-link(href="#section_UI") UI作品
        li.nav-item
          a.nav-link(href="#section_OTHER") 其他作品
        li.nav-item
          a.nav-link(href="#section_footer") 聯絡方式


header#header 
  .container
    .row.col-10.mx-auto
      .card-group
        .card.border-0.bg-secondary.rounded-3
          img.object-fit-cover.w-100.rounded-3(src="/img/photo.jpg" height='300px' alt='')    
        .card.p-3.bg-transparent.border-0.my-auto.list-unstyled
          h5 嗨!我是Grey，很高興遇見你
          hr
          li 居住於內湖，輔從平面轉職，疫情期間學會Figma及html、css簡單切版還有Bootstrap應用。
          li 樂於學習和發現新事物，興趣是滑雪及手作，希望有機會能一起合作！


section#section_work
  .container
    .row.row-cols-1.row-cols-lg-3.g-3.p-1
      .col
        .card.h-100.shadow-sm
          .card-body
            h5.card-title.text-center.bi.bi-bank2 &nbsp畢業學校
            hr
            h6.card-subtitle 銘傳數位媒體設計學系
      .col
        .card.h-100.shadow-sm
          .card-body
            h5.card-title.text-center.bi.bi-bag-fill &nbsp工作經歷
            hr
            h6.card-subtitle 2014/07~2021/12 康鉅國際有限公司
            p.card-text 商品修圖、網路平台Banner、電視購物節目字卡、道具構思及製作
            h6.card-subtitle 2014/4~2014/8巨柏國際有限公司
            p.card-text Banner、EDM、商品攝影及修圖、商品上架
      .col
        .card.h-100.shadow-sm
          .card-body
            h5.card-title.text-center.bi.bi-bounding-box-circles &nbsp軟體技能
            hr
            h6 影像處理：Photoshop、Illustrator
            h6 網頁相關：Figma、VScode
            h6 影片編輯：After Effects、Premiere 
            h6 文書軟體：Word、Excel、PowerPoint

//section#section_UI
  .container.col-12
    .row.text-center
      h5 玩翻台灣(Web/mobile)
      h6 結合玩吃住行，一個Web/mobile帶你玩翻台灣!
    #carouselExampleControls1.carousel.slide(data-bs-ride='carousel')
      .carousel-inner
        .carousel-item
          img.d-block.w-100(src='https://images.unsplash.com/photo-1599420186946-7b6fb4e297f0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80' alt='...')
        .carousel-item
          img.d-block.w-100(src='https://images.unsplash.com/photo-1644366667172-d8aab562c234?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80' alt='...')
        .carousel-item.active
          img.d-block.w-100(src='https://images.unsplash.com/photo-1640622659208-98d70201f2da?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80' alt='...')
      button.carousel-control-prev(type='button' data-bs-target='#carouselExampleControls1' data-bs-slide='prev')
         span.carousel-control-prev-icon(aria-hidden='true')
         span.visually-hidden Previous
      button.carousel-control-next(type='button' data-bs-target='#carouselExampleControls1' data-bs-slide='next')
         span.carousel-control-next-icon(aria-hidden='true')
         span.visually-hidden Next

    

//section#section_OTHER
  .container-fluid
    .row.text-center
      h5 其他作品
    #carouselExampleControls4.carousel.slide(data-bs-ride='carousel')
      .carousel-inner
        .carousel-item
          img.d-block.w-100(src='https://scontent.ftpe7-3.fna.fbcdn.net/v/t39.30808-6/271243337_10216426197086181_4982300477109229607_n.jpg?_nc_cat=108&_nc_rgb565=1&ccb=1-5&_nc_sid=0debeb&_nc_ohc=cA-xNuIHL5cAX84XqDq&_nc_ht=scontent.ftpe7-3.fna&oh=00_AT8e3KpzMMOKHORX1m1TRJTKzct-ciCPBEZLZZI_AYgwuQ&oe=61DACA6E' alt='...')
        .carousel-item
          img.d-block.w-100(src='https://scontent.ftpe7-4.fna.fbcdn.net/v/t39.30808-6/271197622_10216426197206184_7698525747160028193_n.jpg?_nc_cat=105&_nc_rgb565=1&ccb=1-5&_nc_sid=0debeb&_nc_ohc=QtzSoI2iVC0AX9F0bHr&tn=B2GX8rfgmQpU6sXV&_nc_ht=scontent.ftpe7-4.fna&oh=00_AT8kiqGewOZZZD0q6iEQyXwDYORdfM7FEs6AaURWCvIgQA&oe=61DA675F' alt='...')
        .carousel-item.active
          img.d-block.w-100(src='https://scontent.ftpe7-4.fna.fbcdn.net/v/t39.30808-6/271153797_10216426196846175_828670893342030751_n.jpg?_nc_cat=105&_nc_rgb565=1&ccb=1-5&_nc_sid=0debeb&_nc_ohc=hVZznE7-0gEAX-QEnF7&_nc_ht=scontent.ftpe7-4.fna&oh=00_AT-byCuEtPQCKt8pToWxgIXbct7uqSaHEfI5LN3RsVLahw&oe=61DACE1E' alt='...')     
      button.carousel-control-prev(type='button' data-bs-target='#carouselExampleControls4' data-bs-slide='prev')
         span.carousel-control-prev-icon(aria-hidden='true')
         span.visually-hidden Previous
      button.carousel-control-next(type='button' data-bs-target='#carouselExampleControls4' data-bs-slide='next')
         span.carousel-control-next-icon(aria-hidden='true')
         span.visually-hidden Next
.container
  .row.row-cols-2.row-cols-lg-5
    .item
      p 123
    .item
      p 123
    .item
      p 123
    .item
      p 456


footer#section_footer.text-center.text-light.mx-auto.p-4
   
    h5 聯絡資訊
    .container.p-1
      h6.bi.bi-telephone &nbsp 0977-342-289
      h6.bi.bi-envelope &nbsp awu150060@gmail.com
      hr
      p ©2022 by Grey with Bootstrp5
      
    
    //.col-12
      a.btn.btn-success(href='mailto:awu150060@gmail.com') E-Mail
      a.btn.btn-primary(href='https://pda.104.com.tw/profile/share/1YsEYRwW8Z37EAJkkMute9jTtL2Pf1e8') 104履歷

    
